.imgl{
  width: 19%;
  height: 100%;
  float: left;
}

nav {
  background-image: url('image.png');
  color: #0a4146;
  text-align: center;
  padding: 5px;
 
  
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
  background-color: #284f6f;
  border-radius: 10px;
}

header {
  background-image: url('images/image.png');
  position: relative;
  color: white;
  height: 105%;
  width: 100%;
  box-shadow: #333;
 
}
.imagsyl{
  color: black;
  text-align: center;
  background-image: url('images/imagesyllabus.png');
  float: center;
  padding: 5px;
  width: 20%;
  margin-left: 40%;
  border-radius: 50%;
  
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/wtaremark.png');
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    background-color: #fcf8f8;
    z-index: 5;
    text-align: left;
    margin: 0px;
    padding: 0px;
    height: auto;

    
    
}

.footer {
  background: var(--charcoal);
  color:white;
  padding: 4rem 5%;
  text-align: center;
  position: relative;
}

.footer-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 3rem;
}



  /*profile image */
  

  .image{
    height: 135px;
    width: 22px;
    margin-bottom: 0%;
    border-radius: 50%;
  
    

}
.h1{
  float: center;
  background-image: none;
}
.co{
  height: 75%;
  width: 9%;
  margin: 30px ;
  float: left;
}
